@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

.bg-primary {
  background-color: #68949D;
}

.primary-color {
  color: #68949D;
}

.nav-item {
  transition: transform 0.2s ease-in-out;
}

.nav-item:active {
  transform: scale(0.95);
}