@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


:root {
  --background: #f8f8f8;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

.bg-primary {
  background-color: #68949D;
}

.primary-color {
  color: #68949D;
}

.nav-item {
  transition: transform 0.2s ease-in-out;
}

.nav-item:active {
  transform: scale(0.95);
}

.separator {
  @apply border-t border-gray-300 mx-auto;
}

.H1 {
  @apply text-5xl font-bold font-sans;
}

.H2 {
  @apply text-3xl font-semibold font-sans;
}

.H3 {
  @apply text-xl font-semibold font-sans;
}

.Body {
  @apply text-sm font-normal font-sans text-gray-900;
}

.paragraph {
  @apply text-sm font-normal font-sans;
}

.Body-Caption {
  @apply text-sm font-normal font-sans text-gray-500;
}

.Input {
  @apply border border-gray-300 rounded-lg p-2 w-full;
}

.Primary-Button {
  @apply w-full bg-primaryBlue text-white font-semibold rounded-lg py-2 shadow-lg; 
}

.secondary-btn {
  color: #68949D;
  border: 1px solid #68949D;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 10px;
}